{
  "$schema": "https://opencode.ai/config.json",
  "update": "auto",
  "mcp": {
    "servers": {
      "playwright": {
        "type": "local",
        "command": ["npx", "@playwright/mcp@latest"],
        "disabled": true,
      },
      "context7": {
        "type": "remote",
        "url": "https://mcp.context7.com/mcp",
        "headers": {
          "Authorization": "Bearer {{ .context7_token }}",
        },
        "disabled": true,
      },
    },
  },
  "plugins": ["./plugins/rtk.ts", "oh-my-opencode-slim"],
  "agents": {
    "explore": { "disabled": true },
    "general": { "disabled": true },
  },
  "agent": {
    "explore": {
      "disable": true,
    },
    "general": {
      "disable": true,
    },
  },
  "lsp": true,
}
